<footer role="contentinfo" class="post-footer">
<p class="top-link"><a href="#top">return to top</a></p>
        <p>&copy; 2017 Bitflying | 版权所有 . 如有问题，欢迎讨论!</p>
            <ul class="social">
    <li><a href="https://github.com/bitflying" title="Github" class="github">Github</a></li>
    <li><a href="https://www.linkedin.com/in/bitflying/" title="linked in" class="linked">LinkedIn</a></li>
    <li><a href="https://twitter.com/bitflying" title="twitter" class="twitter">Twitter</a></li>
    </ul>
</footer>
