<footer role="contentinfo" class="page-footer">
         <section class="footer-note">
                <p>嗨朋友！我是Bitflying，一名iOS App开发者、曾经的思科认证的网络培训专家(CCSI); 喜欢各种Unix操作系统，包括Linux、macOS、iOS和Android；挚爱TCP/IP网络技术和区块链技术，包括比特币和以太坊等。</p>
                <p>Friends！I'm Bitflying，an iOS App developer, and once a Cisco-certified Instructor (CCSI) 
                . I love Unix, include Linux, macOS、iOS and Android. I'm passionate about TCP/IP technologies and Blockchain technologies, include Bitcoin and Ethereum etc.</p>
    </section>
     <section class="legal">
         <p>&copy; 2017 Bitflying | 版权所有 . 如有问题，欢迎讨论!</p>
             <ul class="social">
    <li><a href="https://github.com/bitflying" title="Github" class="github">Github</a></li>
    <li><a href="https://www.linkedin.com/in/bitflying" title="linked in" class="linked">LinkedIn</a></li>
    <li><a href="https://twitter.com/bitflying" title="twitter" class="twitter">Twitter</a></li>
    </ul>
    </section> 
</footer>
